
body {
    padding: 0;
    margin: 0; 
    background: #f7f7f7;
    font-family: 'Raleway', sans-serif;
}


/* Banner Styling*/
.banner {
    position: relative;
    text-align: center;
    color: #545454;
}

#banner-background {
  position: relative;
  width: 100%;
  height: 340px;
}

.banner-text {
    position: absolute;
    top: 33%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #f7f7f7;
}

.name {
    font-size: 55px;
}
    
.profession {
    font-size: 40px;
}


/** Body styling **/

.section-header {
    margin-top: 0;
    padding-top: 0;
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.outer-ul {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

.outer-li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
}

.inner-ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.inner-li {
    width: 80%;
    margin-left: 40px;
}

.sub-section {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

a {
    color: #214E34;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin-top: 15px;
}


/* Footer Styling */
footer {
    position: relative;
    height: 200px;
    background: #d5e9f7;
    color: #333;
}

.footer-text {
    position: absolute;
    left: 15%;
    top: 25%;
    transform: translate(0%, -30%);
}

.contact-list {
    list-style: none;
    text-align: left;
}

.contact-list li {
    margin-top: 10px;    
}
